body {
    background-image: url(Assets/texture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}


.logo {
    text-align: center;
    
    border-radius: 10px;


}

.navigation {
    text-align: center;
    border: 2px black solid;
    padding: 20px;
    border-radius: 10px;
}


.home {
    margin: 80px;
    font-size: 25px;
    color: white;
}

.menu {
    margin: 80px;
    font-size: 25px;
    color: white;
}

.about {
    margin: 80px;
    font-size: 25px;
    color: white;
}

.timings {
    margin: 80px;
    font-size: 25px;
    color: white;
}

.contact {
    margin: 80px;
    font-size: 25px;
    color: white;
}




.menu {
    text-align: right;

}

h2 {
    color: white;
    text-align: center;
}

#burger1 {

    height: 300px;

    margin-left: 50px;
}

#burger2 {

    height: 300px;

    margin-left: 50px;
}

#burger3 {
    height: 300px;
    margin-left: 50px;

}

#pizza1 {

    height: 300px;
    margin-left: 5px;
}

#pizza2 {

    height: 300px;
    margin-left: 5px;
}

#pizza3 {
    height: 300px;

}

.copywrite {
    text-align: center;
    color: white;
    font-size: 25px;
}